.button-bar {
    margin: 25px 0;
}

.button-bar:after {
    content: none !important;
}

.dataTables_wrapper .row:first-of-type, .dataTables_wrapper .row:last-of-type {
    display: none;
}

.dataTables_wrapper .row {
    min-width: 100%;
}

.dataTables_wrapper .row div{
    min-width: 100%;
}

#pagination {
    display: flex;
    justify-content: center;
}